@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --font-base: 'Outfit', arial, sans-serif;
}

@layer base {
  html {
    font-family: 'Outfit', arial, sans-serif;;
  }

  h1, h2, h3, h4, h5, p, a, div {
    font-family: 'Outfit', arial, sans-serif;
  }
}

.default-police {
  font-family: var(--font-base);
}

.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);

}

.text-secondary {
  color: var(--secondary-color);
}
